body {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin: 0;
  background-color: #f5f5f5;
}

h1 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
}

p {
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
}

.cajaContador {
    width: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;    
}