h1 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.textoContador {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.cajaContador {
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  display: flex;
  text-align: center;
}

.botones {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}